:root {
  --max-width: 1200px;
  --border-radius: 10px;
  --strava-orange: #FC4C02;
  --warning: #DC3545;
  --bg: #121212;
  --fc: #FFFFFF;
  --fc-primary: rgba(255,255,255,0.87);
  --fc-secondary: rgba(255,255,255,0.6);
  --fc-disabled: rgba(255,255,255,0.4);
  --primary: #FF9E0C;
  --primary-mix-10: color-mix(in oklab, #FF9E0C, #FFFFFF 5%);
  --primary-mix-20: color-mix(in oklab, #FF9E0C, #FFFFFF 10%);
  --primary-mix-30: color-mix(in oklab, #FF9E0C, #FFFFFF 15%);
  --bg-mix-10: color-mix(in oklab, #121212, #FFFFFF 5%);
  --bg-mix-20: color-mix(in oklab, #121212, #FFFFFF 10%);
}

*,
::after,
::before {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  max-width: 100vw;
  overflow-x: hidden;
  font-family: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
  'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
  'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
  color: var(--fc);
  background: var(--bg);
}

main {
  grid-row: 2 / 3;
  grid-column: 1 / 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  margin: 0;
  font-size: 1rem;
  line-height: 1.215rem;
  color: var(--fc-primary);
}

header,
footer {
  width: 100%;
}

/* D3JS tooltip */
.tooltip {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 90%;
  overflow: hidden;
  font-size: 0.75rem;
}

.name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1rem;
}

.info {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@media screen and (max-width: 992px) {
  html {
    font-size: 15px;
  }
};