.connect {
  background-image: url("/strava_connect.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 48px;
  width: 193px;
  filter: brightness(1);
  transition: filter 0.25s ease-in-out;
}

.connect:hover {
  filter: brightness(0.9);
}